
.list-group-item {
    margin-bottom: 20px;
    border-radius: 4px;
}
.login-name {
    width: 30%;
}
/* #loginName,#chatWindow {
    display: none;
} */
#message {
    color: red;
}
#main {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}
#main span {
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}
#emojiList {
    width: 240px;
    height: 180px;
}
#emojiList img {
    width: 50px;
    margin: 5px;
}
.list-group-item img {
    max-width: 100px;
}